.icons-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}

.icons-row__icon {
  flex: 1;
  max-width: 130px;

  svg {
    fill: currentColor;
    width: 60%;
  }
}
