.intro {
  padding: 1.5em 1em;
  background-color: $color-primary;
}

.intro__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50em;
  margin: 0 auto;
  > *:first-child {
    margin: 0 0 1em;
  }
  @media screen and (min-width: $breakpoint-smallest) {
    flex-direction: row;
    > *:first-child {
      margin: 0 1em 0 0;
    }
  }
}

.intro__icon {
  flex: 1;
  max-height: 4em;
  color: $color-primary-shade;
  @media screen and (min-width: $breakpoint-smallest) {
    max-width: 6em;
    max-height: none;
  }
}

.intro__headlines {
  @include squeezed-monospace-text;
  flex: 1;
  text-align: center;
  color: $color-primary-shade;
  @media screen and (min-width: $breakpoint-smallest) {
    text-align: left;
  }
}

.intro__headline,
.intro__sub-headline {
  margin: 0;
  line-height: 1;
}

.intro__headline {
  font-size: 3em;
}

.intro__sub-headline {
  margin-top: .125em;
  font-size: 2em;
}
