.intro {
  padding: 1.5em 0;
  background-color: $color-theme-primary;
}

.intro__headline,
.intro__sub-headline {
  margin: 0;
  line-height: 1;
}

.intro__headline {
  @include squeezed-monospace-text;
  font-size: 3em;
}

.intro__sub-headline {
  margin-top: .5em;
  font-size: 2em;
}
