a {
  color: $color-primary-tint;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.paragraph a,
.list a {
  text-decoration: none;
  background-image: linear-gradient(to bottom, $color-primary-tint 50%, rgba($color-primary-tint, 0) 50%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.15em;

  &:hover,
  &:focus {
    background-image: linear-gradient(to bottom, $color-primary 50%, rgba($color-primary, 0) 50%);
  }
}
