.footer {
  padding: 2em 0;
  text-align: center;
}

.footer__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer__item {
  min-width: 3em;
  max-width: 6em;
}

.footer__headline {
  margin-block-start: 0;
  font-size: var(--step-2);
}
