// $color-theme-primary: #3498db;
$color-theme-primary: #f08a5d;
// $color-theme-primary: #00adb5;
// $color-theme-primary: #f38181;

$color-bg: mix(#000, $color-theme-primary, 70%);
$color-fg: mix(#fff, $color-theme-primary, 85%);

$font-family-body: Spectral, 'PT Serif', serif;
$font-family-display: 'Overpass Mono', 'PT Mono', 'Roboto Mono', monospace;
