$color-bg: #222;
$color-fg: #fefefe;

$color-accent: #2ecc71;

$color-reliable: $color-accent;
$color-uncertain: #f1c40f;
$color-speculative: #e74c3c;
$color-general: #3498db;

$font-family-body: Spectral, 'PT Serif', serif;
$font-family-sans: 'Source Sans Pro', sans-serif;
