@import '~style/variables';

.intro {
  padding: 1.5em 0;
  background-color: $color-theme-primary;
}

.headline,
.sub-headline {
  margin: 0;
  line-height: 1;
}

.headline {
  font-family: $font-family-display;
  font-size: 3em;
}

.sub-headline {
  margin-top: .5em;
  font-size: 2em;
}
