@import '~style/variables';

.footer {
  padding: 1em;
  text-align: center;
  font-family: $font-family-display;
  background-color: rgba(#000, .2);
}

.heart {
  vertical-align: sub;
  font-size: 2em;
  color: $color-theme-primary;
}

.icons-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}

.icon {
  flex: 1;

  svg {
    fill: currentColor;
    max-width: 64px;
  }
}
