---
permalink: "manifest.webmanifest"
---
{
  "name": "Jesper Nellemann Jakobsen's site",
  "short_name": "jespers.site",
  "start_url": ".",
  "display": "standalone",
  "background_color": "{{ tokens.colorElm }}",
  "theme_color": "{{ tokens.colorPeppermint }}",
  "icons": [
    {
      "src": "/assets/icons/android-chrome-192x192.png",
      "type": "image/png",
      "sizes": "192x192"
    },
    {
      "src": "/assets/icons/android-chrome-512x512.png",
      "type": "image/png",
      "sizes": "512x512"
    }
  ]
}
