---
permalink: "manifest.webmanifest"
---
{
  "name": "Jesper Nellemann Jakobsen's site",
  "short_name": "jespers.site",
  "start_url": ".",
  "display": "standalone",
  "background_color": "{{ tokens.colorBananaMania }}",
  "theme_color": "{{ tokens.colorCherryPie }}",
  "icons": [
    {
      "src": "/assets/icons/android-chrome-192x192.png",
      "type": "image/png",
      "sizes": "192x192",
      "purpose": "any"
    },
    {
      "src": "/assets/icons/maskable-icon-192x192.png",
      "type": "image/png",
      "sizes": "192x192",
      "purpose": "maskable"
    },
    {
      "src": "/assets/icons/android-chrome-512x512.png",
      "type": "image/png",
      "sizes": "512x512",
      "purpose": "any"
    },
    {
      "src": "/assets/icons/maskable-icon-512x512.png",
      "type": "image/png",
      "sizes": "512x512",
      "purpose": "maskable"
    }
  ]
}
